// Variables

// Screen Widths
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;


// Mixins 
.container(@screen-width) {
  max-width: if((@screen-width = @sm), 540px);
  max-width: if((@screen-width = @md), 720px);
  max-width: if((@screen-width = @lg), 960px);
  max-width: if((@screen-width = @xl), 1140px);
  max-width: if((@screen-width = @xxl), 1320px);
  margin-left: auto;
  margin-right: auto;  
}
.padding-x(@padding-left-right) {
  padding-left: @padding-left-right;
  padding-right: @padding-left-right;
}



// X-Small devices (portrait phones, less than 576px (" 0px " and up))
// No media query for `xs` since this is the default in Bootstrap
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #212529;
}
body {
  line-height: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
  font-size: calc(1.325rem + .9vw);
}
h3 {
  font-size: calc(1.3rem + .6vw);
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;  
}

// Complete Flex-Item's Width Formula;
        //calc( ((no. of columns per element% * 10) / (1.2)) - (column-gap * (no. of columns in row - 1) / (no. of columns in row))
img {
  vertical-align: middle;
}
a {
  color: #0d6efd;
  text-decoration: none;
  display: inline-block;
  // -webkit-tap-highlight-color: transparent;
}
label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  font-size: inherit;
  line-height: 1.5;
  display: inline-block;
}
input {
  display: block;
  min-width: 1px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  outline: none;
  transition: .15s;
}
// Removing 'Arrows' or 'Spin Buttons' from 'number picker input element (input element with type="number")'
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: .15s;
}

// Navbar
header {
  .padding-x(12px);
  position: -webkit-sticky;   // "Sticky" only works when there is no Parent Element other than 'header' element or
  position: sticky;   //  'Parent's Display Property' is set to 'unset', 'contents', 'initial' or 'inline'
  top: 0;
  z-index: 999;   // causes the 'Sticky element' to stay above the elements that have 'position: relative'

  nav {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 50px;
    .padding-x(12px);
    z-index: 999;
  }
}

// Login Navbar
.login-navbar {
  position: static;
}

// Top Image
.top-image-container {
  .padding-x(12px);
}

// Products Heading
.products-heading {
  display: flex;

  div {
    .padding-x(12px);
    width: 50%;
    flex: 0 0 auto;
    h1, h5 {
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 8px;
    }
    h1 {
      font-size: calc(1.375rem + 1.5vw);
    }
    h5 {
      text-align: end;
      font-size: 1.25rem;
    }
  }
}

// Products List
.products-list {
  display: flex;
  flex-wrap: wrap;
  
  div {
    width: 50%;
    flex: 0 0 auto;
    
    a {
      img {
        width: 100%;
      }
    }
  }
}

// Cards 1st and 2nd
.cards-list {
  display: flex;
  flex-wrap: wrap;
  // gap: 24px;  // Problem: Shows 1 less Card in a Row, so use 'Padding' on individual Card. (Note: 'column-gap' works
  // properly when there is no 'width' (whether relative or absolute values) defined on the 'Flex Items'. So use 'Horizontal
  // Padding' on the 'Flex Items' for 'Horizontal Spacing' and set 'row-gap' on the 'Flex Container' for 'Vertical Spacing'.
  row-gap: 24px;
  margin-top: 48px;
  margin-bottom: 12px;
  // All Cards
  >div {
    width: 50%;
    flex: 0 0 auto;
    .padding-x(12px);
  }
  .card {
    display: flex;
    align-items: flex-end;
    border-radius: 0.25rem;
    word-wrap: break-word;
  }
  // First Card
  >:first-child>.card {
    border: 1px solid rgba(0,0,0,.125);
    
    &>div {
      margin-left: 8px;
      
      h1 {
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      p {
        font-weight: 200;
        margin-bottom: 1rem;
      }
    }
  }
  // Remaining Cards
  >:not(:first-child, :last-child) {

    >a {
      // text-decoration: none;
      // -webkit-tap-highlight-color: transparent;
      // display: block;
      
      .card {
        background-color: rgb(33, 37, 41);
        
        h3 {
          color: #ffffff;
          font-weight: 300;
          margin-bottom: 0.5rem;
          margin-left: 1rem;
        }
      }
    }
    
  }
  // Last Card
  >:last-child .card {
    background-color: #abaaaa;

    >div {
      color: #ffffff;
      margin-left: 1rem;

      >h2 {
        font-weight: 700;
        margin-top: 1rem;
      }
      >p:last-of-type {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

// Search
.search-container {
  margin-top: 3rem;
  .padding-x(12px);

  >div {
    background-color: #fbfbfa;
    text-align: center;
    border-radius: 210px;
    position: static;
    
    >h1 {
      font-size: calc(1.375rem + 1.5vw);
    }
    >p {
      text-align: center;
      line-height: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
    >form {
      // position: relative;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: stretch;
      width: 100%;

      >input {
        flex-grow: 1;
        border: 0px ;
        border-radius: 30px;
        box-shadow: 1px 1px 2px #cac7c7;
        padding: 12px 65px 12px 25px;
        display: block;
        // position: relative;
        // width: 1%;
        min-width: 0;
      }
      >.dropdown {
        display: none;
        position: absolute;
        top: 110%;
        left: 4%;
        right: 4%;
        z-index: 1;
        width: 93%;
        padding: 0.5rem 0;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        box-shadow: 2px 3px 4px #c4bfbf;

        >:first-child {
          height: 280px;
          overflow-y: scroll;
          overflow-x: hidden;

          >ul {
            margin-bottom: 1rem;
            padding-left: 2rem;
          }
        }
        >:last-child {
          text-align: center;
          box-shadow: 0px -1px 0px #d0cdcd;

          >a {
            color: #000000;
          }
        }
      }
    }
    
  }
}

// Brands Heading
.brands-heading {
  margin-top: 3rem;
  .padding-x(12px);

  >h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

// Brands Logos
.brands-logos {
  margin-top: 3rem;
  margin-left: 1rem;
}

// Slogan Image
.slogan-image {
  margin-top: 3rem;
  .padding-x(12px);
}

// Brand Merch Section
.brand-merch-section {
  background-image: url("./assets/images/HOME-B20.jpg");
  height: 525px;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  >div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    >:first-child {
      margin-top: 100px;
      .padding-x(12px);
      flex-shrink: 0;
      width: calc(80%/1.2);
      text-align: center;

      >h1 {
        font-weight: 800;
      }
      >p {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 200;

      }
    }
    >:last-child {
      display: none;
    }
  }
}

// Lets Talk Section
.lets-talk-section {
  display: flex;
  flex-wrap: wrap;

  >.book-meeting, >.live-chat {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    .padding-x(12px);
  }
  
  >.book-meeting>:first-child, >.live-chat>div {
  
    >h1 {
      font-weight: 700;
    }
    >p {
      font-size: 22px;
      font-weight: 100;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  
  >.book-meeting>:last-child>button {
      font-size: 30px;
      font-weight: 700;
      margin-left: 10px;
      padding: 15px 44px;
      border: 1px solid transparent;
      border-radius: 50px;
      color: #ffffff;
      background-color: #939396;
      text-align: center;
      line-height: 1.5;
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: #000000;
      }
  }

}

// Bottom Image
.bottom-image {
  background-image: url("https://ordopromo.fiqsolution.com/new_assets/images/HOME-B26.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
  .padding-x(12px);
  text-align: right;

  >img {
    margin-top: 87px;
    width: 250px;
  }

}

// Footer
footer {
  padding: 0.5rem;
  background-color: #000000;

  >:first-child, >:last-child {
    text-align: center;
  }
  >:first-child>img {
    width: 300px;
  }
  >:last-child>img {
    width: 280px;
  }
  
}

// Login Page's Footer
.footer-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 82px;
}

// Form (Register, Login, ChangePassword)
.form-container {
  padding-top: 69px;
  padding-bottom: 68px;
  display: flex;
  flex-wrap: wrap;

  >div {
    width: 100%;
    flex-shrink: 0;
    .padding-x(12px);

    // Login Form
    >.login-div {
      border-radius: 210px;
    }
    // Register Form
    >.register-div {
      border-radius: 316px;
    }

    >div {
      background-color: #fbfbfa;
      padding: 40px 225px;

      // Login Form
      >.login-heading {
        margin-left: 5rem;
        // margin-left: calc(20%/1.2);  // Can also be used instead of Fixed Values (Preffered) 
      }
      // Register Form
      >.register-heading {
        margin-left: 10rem;
        // margin-left: calc(40%/1.2);  // Can also be used instead of Fixed Values (Preffered) 
      }
      >.form-heading {

        >p {
        font-size: 17px;
        font-weight: 100;
        line-height: 1.5;

          >a {
            color: #6b6969;
            text-decoration: underline;
          }
        }
      }
      >.form-fields {
        margin-top: 3rem;

        >:not(:last-child) {
          display: flex;
          flex-wrap: wrap;
          margin-left: -12px;
          margin-right: -12px;
          margin-bottom: 0.5rem;

          >label {
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            .padding-x(12px);
            line-height: 1.5;
            flex-shrink: 0;
          }
          >div {
            width: 100%;
            .padding-x(12px);

            >input {
            padding: 3px 15px;
            border: 1px solid black;
            
              &:focus {
                border: 0px;
                // outline: solid 4px #ced4da;  // can also be used instead of box-shadow but its Jittery (not fully smooth)
                box-shadow: 0 0 0 0.25rem #ced4da;  // it works smoother than 'outline' property
              }
            }
          }
        }

        >:last-child {
          width: 100%;
          margin-top: 1.5rem;
          

          >button {
            font-size: 14px;
            color: #ffffff;
            background-color: #212529;
            border-radius: 20px;
            padding: 8px 50px;
            
            &:hover {
              background-color: #1c1f23;
              border-color: #1a1e21;
            }
          }
          >div {
            margin-top: 0.5rem;

            >a {
              color: #6b6969;
              text-decoration: underline;
            }
          }
          
        }
      }
      // Forgot Password Form
      >.forgot-fields {
        margin-top: 1.5rem;

        >:last-child>button {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

// Products Heading Outer on Products Page
.products-heading-outer-pp {
  margin-top: 1rem;
  .padding-x(12px);
}

// Products Filter Container on Products Page
.products-filter-container-pp {
  margin-top: 1rem;
  .padding-x(12px);

  >div {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 35px;
    padding: 5px 60px;

    >h3 {
      display: none;
      font-weight: 700;
    }
    >div {
      display: flex;
      flex-wrap: wrap;
      column-gap: 4px;
      row-gap: 4px;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      >.dropdown-pp {
        position: relative;

        >.products-filter-pp{
          height: 28px;
          width: 153.6px;
          border: 0px;
          border-radius: 20px;
          padding: 0px 20px 0px 8px;
          position: relative;
          text-align: left;
          line-height: 28px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #999;
          background-color: #fff;

          &::after {
            content: "";
            border: solid;
            border-width: 5px 4px 0px 4px;
            border-color: #888 transparent transparent transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
          }
        }
        // Dropdown Menu on 'Products Page'
        >div:not(.active) {
          display: none;
        }
        >div {
          animation: fadeEffect 0.15s;
        }
        >.dropdown-menu-pp {
          position: absolute;
          top: 29px;
          background-color: #ffffff;
          border: 1px solid #aaa;
          border-radius: 4px;
          border-top: 0px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;

          >div {
            padding: 4px;

            >input {
              border: 1px solid #aaa;
              border-radius: 0px;
              outline-offset: -2px;
              padding: 4px;
              min-width: 1px;
              width: 100%;

              &:focus-visible {
                outline: rgb(229, 151, 0) auto 5px;
              }
            }
          }
          >ul {
            max-height: 200px;
            overflow-y: auto;
            list-style: none;
            padding: 0px;

            >li {
              padding: 6px;

              &:hover {
                background-color: #5897fb;
                color: #ffffff;
              }
            }
            .active {
              background-color: #ddd;
            }
          }
          
        }

      }
    }
  }

}

// Products Quantity Input (-, input, +) on Products and ProductsDetail Pages
.quantity-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px 16px;
  background-color: white;
  border-radius: 35px;
  padding: 1px 16px;

  >button {
    border: 0px;
    padding: 0px;
  }
  >div {
    display: flex;
    justify-content: center;
    align-items: center;

    >input {
      height: 20px;
      width: 65px;
      min-width: 0px;
      flex-grow: 1;
      border: 0px;
      border-radius: 0px;
      padding: 0px;
      text-align: center;

      &:focus {
        box-shadow: 0 0 0 0.25rem #ced4da;
      }
    }
  }  
}

// Products Container on Products Page 
.products-container-pp {
  margin-top: 1rem;
  
  >div {
    margin: 1rem;
    .padding-x(12px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
    >.product-card-pp {
      // In order to have 'column-gap' property to work when 'flex children' are given the 'width' other than 'width: auto', just
      // 'subtract' the "following formula value" from the 'width' given to 'flex children'. this way 'column-gap' does not cause
      // the 'flex children' to go on next line and leave 'blank spaces' because there is no space for 'column-gap' when 'width' is
      // given to 'flex children'. So this way we add the 'column-gap' in the total or 100% width of the 'flex parent'.
      // Formula;
      // (row-gap * (no. of columns - 1) / (no. of columns))
      // where (no. of columns - 1) are the 'no. of gaps between the columns'.
      // To do;
      // Make a mixin for this purpose to fully calculate the 'width of flex items'.

      width: calc(50% - (1.5rem * (2 - 1) / (2)));
      
      >a {
        color: inherit;

        >div {
          border: 1px solid rgba(0,0,0,.125);
          border-radius: 0.3rem;
          padding: 0.5rem;
          background-color: #f8e7ee38;
          display: flex;
          flex-direction: column;
          min-width: 0px;
          word-wrap: break-word;
          height: 100%;
          width: 100%;

          >div:first-of-type {

            >img {
              width: 100%;
              border-top-left-radius: calc(0.25rem - 1px);
              border-top-right-radius: calc(0.25rem - 1px);
            }
          }
          >div:last-of-type {
            flex-grow: 1;
            margin-top: 1rem;
            padding: 1rem;
            text-align: center;

            >p {
              font-size: 10px;
            }
            >div {
              margin-top: 0.5rem;
            }
          }
        }
      }
      
    }
  }
}

// 'Ad Labels' Heading Container on 'Products Detail Page'
.ad-labels-pdp {
  margin-top: 1rem;
  .padding-x(12px);

  >div {
    background-color: #f6f6f6;
    border-radius: 35px;
    padding: 5px 60px;

    >h3 {
      font-weight: 700;
    }
  }
}

// Products Selection Container on (Products Detail Page)
.products-selection-container {
  margin-top: 3rem;
  .padding-x(12px);

  >div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    .padding-x(12px);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    >div {
      width: 100%;
    }
    // Owl Carousel
    >div>.products-carousel {
      position: relative;

      >.owl-nav {  //'nav buttons' of 'owl carousel'

        margin-top: 0px;
        >button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 50px;
          width: 50px;
        }
        >.owl-prev {
          left: 0px;
        }
        >.owl-next {
          right: 0px;
        }
      }
      .carousel-img-pdp>img {
        margin-top: 1rem;
        max-height: 450px;
      }
    }
    // Products Variation
    >.products-variation {
      >h2 {
        font-weight: 700;
        border-bottom: 1px solid;
      }
      >h6 {
        font-weight: 700;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      >.color-selection {

        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4px 12px;
        background-color: #f6f6f6;

        >div {
          width: calc((30%/1.2) - (12px * (4 - 1) / 4));
          text-align: center;

          >a {
            
            width: 100%;
            >p {
              font-size: 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            >img {
              max-height: 60px;
              max-width: 70px;
            }
          }
        }
      }
      .decoration-selection {
        margin-bottom: 10px;
        padding-bottom: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 12px;

        >div {
          width: calc((40%/1.2) - (12px * (3 - 1) / 3));
          flex-shrink: 0;
          position: relative;

          >input {
            padding: 0px;
            display: inline-block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0px;
            opacity: 0;

            &:checked + label {
              background-color: #212529;
              color: #ffffff;
            }
          }
          >label {
            cursor: pointer;
            background-color: #f6f6f6;
            font-size: 14px;
            border-radius: 15px;

            &:hover {
              background-color: #000000;
              color: #ffffff;
            }
          }          
        }
        >div:first-child > label {
          padding: 2px 36px;
        }
        >div:not(:first-child) > label {
          padding: 3px 25px;
        }
      }
      .decoration-selection + h6 {
        border-top: 1px solid;
        padding-top: 0.5rem;
      }
      .quantity-range-slider {
        margin-top: 2.5rem;

        >.quantity-slider {
          margin-top: 5px;

          >input {
            background-color: #f6f6f6;
            height: 15px;
            padding: 0px;
            border-color: inherit;
            border-radius: 10px;
            opacity: 0.7;
            transition: opacity 0.2s;
            -webkit-transition: 0.2s;
            cursor: pointer;

            &[type=range]::-webkit-slider-thumb {
              appearance: none;
              -webkit-appearance: none;
              height: 30px;
              width: 30px;
              border: 4px solid #000000;
              border-radius: 50%;
              background-color: #ffffff;
              box-shadow: 0px 1px 4px 0px #adb5bd ;
            }
          }
        }
        >.quantity-labels {
          margin-top: 0.5rem;
          display: flex;
          justify-content: space-between;
          text-align: center;
          
          >div {
            font-size: 14px;
            font-weight: 700;
            color: #000000;
          }
          >div:nth-child(2), >div:nth-child(4) {
            transform: translateX(30%);
          }
          >div:nth-child(3) {
            transform: translateX(45%);
          }
          >div:nth-child(5) {
            transform: translateX(20%);
          }
        }
      }
      >.add-to-cart-section {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.price-section {

          >h3 {
            font-weight: 700;
          }
          >p {
            font-weight: 300;
          }
        }
        >.add-button {

          >.quantity-filter-pdp {
            background-color: #f6f6f6;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
            
            >button:disabled, >button[disabled] {
              color: #999;
            }
            >div>input {
              background-color: #f6f6f6;  
            }
          }
          >div:last-child {
            margin-top: 0.5rem;

            >a {
              color: #ffffff;
              background-color: #212529;
              display: inline-block;
              vertical-align: middle;
              font-size: 14px;
              border-radius: 15px;
              padding: 3px 43px;
              transition: 0.15s;
              
              &:hover {
                background-color: #000000;
              }
            }
          }
        }
      }
    }
  }
}

// Product Description on (Products Detail Page)
.product-description-section {
  margin-top: 3rem;
  position: relative;

  >.horizontal-line {
    background-color: #000000;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 15px;
    z-index: -1;
  }
  >.description-tabs {
    .padding-x(12px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    >button {
      background-color: #f6f6f6;
      color: #000000;
      border: 0px;
      border-radius: 20px;
      padding: 4px 40px;
      font-size: 14px;      
    }
    >.active {
      background-color: #212529;
      color: #ffffff;
      border-color: #212529;
    }
  }
  >.product-description {
    overflow: auto;   // to avoid collapsing or combining vertical margins (changed the block formatting context
                      // from overflow: visible to auto or any other value.)
    margin-top: 1.5rem;

    >div:not(.active) {
      display: none;
    }
    >div {
      .padding-x(12px);
      animation: fadeEffect 1s;
    }
    >.product-details {
      
      >h5 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
      >p {
        margin-bottom: 1rem;
      }
    }
    >.product-logo {

      >p {
        margin-bottom: 1rem;
      }
      >p:first-of-type {
        margin-top: 3rem;
      }
      >p:not(:first-of-type) {
        margin-top: 1.5rem;
      }
    }
    >.product-stock {
      >h5 {
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
      >h5:last-of-type {
        margin-top: 0.5rem;
      }
      >p {
        margin-bottom: 1rem;
      }
      >p:last-of-type {
        margin-top: 1rem;
        font-size: 10px;
      }
      >table {
        border-collapse: collapse;
        width: 100%;

        >tbody>tr {
          border-bottom: 1px solid rgb(222, 226, 230);
          
          >td {
            padding: 0.5rem;
          }
        }
      }
    }    
  }
}
// Fade In Animation
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
// How to Order on (Products Detail Page)
.how-to-order{
  margin-top: 3rem;

  >div:first-child {
    margin-left: 1.5rem;
    .padding-x(12px);

    >h2 {
      margin-bottom: 0.5rem;
      font-weight: 700;
    }
  }
  >div:last-child {
    .padding-x(12px);
    text-align: right;

    >img {
      margin-top: 87px;
    }
  }
}





// Screen Width 0px to 374px
@media (max-width: (375px - 0.02px)) {

  // Navbar
  header>nav {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  // Form (Register, Login, ChangePassword)
  .form-container {
    padding-top: 15px;
    padding-bottom: 14px; 
  }
  // Products Filter Container on Products Page
  .products-filter-container-pp {
    >div {
      padding: 2px 20px;

      >div {

        .dropdown-pp {

          >.products-filter-pp{
            width: 125px;
          }
        }  
      } 
    }
  }
// Products Quantity Input (-, input, +) on Products and ProductsDetail Pages
  .quantity-filter {
    padding: 1px 20px;
  }
  
  // 'Ad Labels' Heading Container on 'Products Detail Page'
  .ad-labels-pdp>div {
    .padding-x(25px);
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.decoration-selection{
  
    >div:not(:first-child) > label {
      padding: 3px 7px;
    }
  }
  // Product Description on (Products Detail Page)
  .product-description-section>.description-tabs>button {

    padding: 3px 10px;    
  }

}



// Screen Width 375px to 500px
@media (min-width: 375px) and (max-width: 500px) {

  // Form (Register, Login, ChangePassword)
  .form-container {
    padding-top: 37px;
    padding-bottom: 37px;
  }  
  // Products Filter Container on Products Page
  .products-filter-container-pp>div>div {

    .dropdown-pp {
      
      >.products-filter-pp{
        width: 148px;
      }
    }  
  }  


  // Products Quantity Input (-, input, +) on Products and ProductsDetail Pages
  .quantity-filter {
    padding: 1px 32px;
  }
  
  
  // 'Ad Labels' Heading Container on 'Products Detail Page'
  .ad-labels-pdp>div {
    .padding-x(40px);
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.decoration-selection{
  
    >div:not(:first-child) > label {
      padding: 3px 8px;
    }
  }
  // Product Description on (Products Detail Page)
  .product-description-section>.description-tabs>button {

    padding: 3px 14px;    
  }

}



// Screen Width 375px to 1023px
@media (min-width: 375px) and (max-width: 1022.98px) {

  // Products Filter Container on Products Page
  .products-filter-container-pp {
    >div {
      padding: 5px 25px;
    }
  }
}



// Screen Width 0px to 500px
@media (max-width: 500px) {

  // Logo Image
  header>nav>.logo {
    width: 140px;
    height: 31px;
  }
  // Products Heading
  .products-heading>div>h5 {
    font-size: 8px;
  }
  // All Cards
  .cards-list {
    .card {
      height: 110px;
    } 
    // First Card
    >:first-child>.card>div {
      h1 {
        font-size: 14px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
      }
    }
    // Remaining Cards
    >:not(:first-child, :last-child)>a .card h3 {
      font-size: 14px;
    }
    // Last Card
    >:last-child .card {
      p {
        font-size: 7px;
      }
      h2 {
        font-size: 16px;
      }
    }    
  }
  // Search
  .search-container>div {
    padding: 40px 43px;

    >h1 {
      font-size: 16px;
    }
    >p {
      font-size: 11px;
      line-height: 16.5px;
    }
    >form>input {
      padding: 8px 45px;  

      >.dropdown>:first-child {
        height: 220px;
      
        >ul {
          padding-left: 1rem;
        }
      }  
    }
  }
  // Brands Logos
  .brands-logos>img {
    width: 8%;
  }
  // Brand Merch Section
  .brand-merch-section {
    background-size: 100% 85%;
  }
  // Lets Talk Section
  .lets-talk-section{
    >.book-meeting>:last-child>button {
      padding: 6px 20px;
      font-size: 16px;
    }
    >.live-chat {
      margin-top: 20px;
    }
  }
  // Bottom Image
  .bottom-image {
    height: 110px;

    >img {
      margin-top: 64px;
      width: 60px;
    }
  }
  // Form (Register, Login, ChangePassword)
  .form-container>div {

    >.login-div, >.register-div {
      padding: 30px 50px;
      border-radius: 110px;
    }

    >div {
      >.login-heading, >.register-heading {
      margin-left: 0px;
      text-align: center;
      }  
      >.form-heading {
        >p {
          font-size: 9px;
        
          >a {
            font-size: 12px;
          }
        }
      }
      >.form-fields>:last-child {
        text-align: center;
        
        >div>a {
          font-size: 12px;
        }
      }
    }
  }  
  // Products Container on (Products Page) 
  .products-container-pp {
    h5 {
      font-size: 9px;
    }
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation{    
    
    >.decoration-selection>div{
    
      >label {
        font-size: 12px;
      }
      &:first-child > label {
        padding: 2px 17px;
      }
    }
    >.quantity-range-slider {

      >.quantity-slider>input {
        height: 10px;
      }
      >.quantity-labels>div {
        font-size: 10px;
      }
    }
    >.add-to-cart-section>.add-button>div:last-child>a {
      padding: 3px 20px;
    }

  }
  // Product Description on (Products Detail Page)
  .product-description-section {

    >.horizontal-line {
      width: 91%;
      top: 11px;
    }
    >.description-tabs>button {
      font-size: 12px;
    }
  }
  // How to Order on (Products Detail Page)
  .how-to-order>div:last-child>img {
    margin-top: 64px;
  }
}

// Screen Width 0px to 600px
@media (max-width: 600px) {

  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>div>.products-carousel {  // Owl Carousel
    height: 50%;

    div {
      height: 50%;

      .carousel-img-pdp>img {
        height: 50%;
      }
    }

  }

}



// Screen Width 0px to 768px
@media (max-width: 767.98px) {

  // Brand Merch Section
  .brand-merch-section>div>:first-child>p {
    font-size: 11px;
  }


}



// Screen Width 0px to 1023px
@media (max-width: 1022.98px) {

  // Lets Talk Section
  .lets-talk-section {
    >.book-meeting>:first-child, >.live-chat>div {
      >h1 {
        font-size: 22px;
      }
      >p {
        font-size: 11px;
      }
    }
  }
  // Footer
  footer {

    >:first-child>img {
      width: 200px;
    }
    >:last-child>img {
      width: 180px;
    }
  }
  // Products Filter Container on Products Page
  .products-filter-container-pp>div>div {

    .dropdown-pp {

      >.products-filter-pp, >.dropdown-menu-pp>ul>.dropdown-item-pp{
        font-size: 10px;
      }
    }  
  }
  // How to Order on (Products Detail Page)
  .how-to-order>div:last-child>img {
    width: 155px;
  }
}



// Screen Width 501px and up
@media (min-width: 501px) {

  // Navbar
  header>nav {
    .padding-x(32px);
  }
  // Products Container on Products Page 
  .products-container-pp {
    h5 {
      font-size: 14px;
    }
  }
}



// Screen Width 501px to 768px
@media (min-width: 501px) and (max-width: @md) {

  // Search
  .search-container>div {
    padding: 40px 115px;
  
    >p {
      font-size: 11px;
      line-height: 16.5px;
    }
    >form>input {
      padding: 10px 45px;
    }
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.decoration-selection{

    >div>label {
      font-size: 16px;
    }
    >div:first-child > label {
      padding: 3px 42px;
    }
    >div:not(:first-child) > label {
      padding: 3px 30px;
    }
  }

}



// Screen Width 501px to 1022px
@media (min-width: 501px) and (max-width: 1023px) {
  
  // Logo Image  
  header>nav>.logo {
    width: 250px;
    height: 40px;
  }
  // Products Heading
  .products-heading>div>h5 {
    font-size: 13px;
  }
  // All Cards
  .cards-list {
    .card {
      height: 150px;
    } 
    // First Card
    >:first-child>.card>div {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
        line-height: 18px;
      }
    }
    // Remaining Cards
    >:not(:first-child, :last-child)>a .card h3 {
      font-size: 20px;
    }    
    // Last Card
    >:last-child .card {
      p {
        font-size: 12px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  // Brand Merch Section
  .brand-merch-section {
    background-size: 125% 85%;
  }
  // Lets Talk Section  
  .lets-talk-section>.book-meeting>:last-child>button {
    padding: 10px 30px;
    font-size: 18px;
  }
  // Bottom Image
  .bottom-image {
    height: 152px;

    >img {
      margin-top: 37px;
      width: 155px;
    }
  }
  // Form (Register, Login, ChangePassword)
  .form-container {
    padding-top: 50px;
    padding-bottom: 51px; 
  }
  // Products Filter Container on Products Page
  .products-filter-container-pp>div>div {

    .dropdown-pp {
      
      >.products-filter-pp{
        width: 125px;
      }
    }  
  }
  // How to Order on (Products Detail Page)
  .how-to-order>div:last-child>img {
    margin-top: 37px;
  }
}



// Screen Width 768px to 1022px
@media (min-width: @md) and (max-width: 1023px) {

  // Search
  .search-container>div {
    padding: 40px 125px;

    >p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  // Form (Register, Login, ChangePassword)
  .form-container>div{
    // Login Form
    >.login-div {
      padding: 40px 160px;
      border-radius: 160px;
    }
    >.register-div {
      padding: 40px 80px;
      border-radius: 300px;
    }
    >div {
      // Login Form
      >.login-heading {
        margin-left: 4rem;
      }
      // Register Form
      >.register-heading {
        margin-left: 11rem;
      }

      >.form-heading {
      
        >p {
          font-size: 12px;
              
          >a {
            font-size: 12px;
          }
        }
      }
      >.form-fields>:last-child>div>a {
        font-size: 12px;
      }
    }
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.decoration-selection{

    >div>label {
      font-size: 12px;
    }
    >div:first-child > label {
      padding: 3px 24px;
    }
    >div:not(:first-child) > label {
      padding: 3px 17px;
    }
  }
 
}



// Screen Width 768px to 1278px
@media (min-width: @md) and (max-width: 1279px) {

  // Brand Merch Section
  .brand-merch-section>div>:first-child>p {
    font-size: 13px;
  }
}



// Screen Width 1023px and up
@media (min-width: 1023px) {

  // Cards 1st and 2nd
  .cards-list {
    // All Cards
    .card {
      height: 175px;
    }
    // Last Card
    >:last-child .card h2 {
      font-size: calc(1.325rem + .9vw);
    }
  }
}



// Screen Width 1024px to 1278px
@media (min-width: 1024px) and (max-width: 1279px) {

  // Cards 1st and 2nd
  .cards-list {
    // First Card
    >:first-child>.card>div {
      h1 {
        font-size: 23px;  
      }
      p {
        font-size: 28px;
        line-height: 32px;
      }
    }
    // Remaining Cards
    >:not(:first-child, :last-child)>a .card h3 {
      font-size: 23px;
    } 
    // Last Card
    >:last-child .card p {
        font-size: 15px;
    }      
  }
  // Search
  .search-container>div {
    padding: 40px 130px;

    >p {
      font-size: 14px;
      line-height: 21px;
    }
  }
  // Brand Merch Section
  .brand-merch-section {
    background-size: 100% 80%;
  }
  // Lets Talk Section  
  .lets-talk-section>.book-meeting>:last-child>button {
    padding: 12px 40px;
  }
  // Bottom Image
  .bottom-image {
    height: 203px;

    >img {
      width: 170px;
    }
  }
  // Form (Register, Login, ChangePassword)
  .form-container {
    padding-top: 131px;
    padding-bottom: 131px;
          
    >div{
      // Register Form
      >.register-div {
        padding: 40px 115px;
        border-radius: 270px;
      }
      >div {
        // Register Form
        >.register-heading {
          margin-left: 12rem;
        }
        // Login Form
        >.form-heading>p {
        font-size: 11px;
        }
      }
    }
  }
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.decoration-selection{

    >div>label {
      font-size: 13px;
    }
    >div:first-child > label {
      padding: 3px 29px;
    }
    >div:not(:first-child) > label {
      padding: 3px 20px;
    }
  }
  // How to Order on (Products Detail Page)
  .how-to-order>div:last-child>img {
    width: 170px;
  }
}



// Screen Width 1279px and up
@media (min-width: 1279px) {

  // Cards 1st and 2nd
  .cards-list {
  // First Card
  >:first-child>.card>div {
    h1 {
      font-size: 2.5rem;  
    }
    p {
      font-size: 32px;
      line-height: 32px;
    }
  }
  // Remaining Cards
  >:not(:first-child, :last-child)>a .card h3 {
    font-size: 1.75rem;
  }   
  }
  // Search
  .search-container>div {
    padding: 40px 185px;
  }  
}



// Small devices (landscape phones, 576px and up)
@media (min-width: @sm) { // @sm: 576px;

  header, .products-heading {
    .container(@sm);
  }
  // Form (Register, Login, ChangePassword)
  .form-container>div>div {
    
    // Login Form
    >.login-fields>:not(:last-child) {

      >label {
        width: calc(20%/1.2);  
      }
      >div {
        width: calc(100%/1.2);  
        
      }
    }
    // Register Form
    >.register-fields>:not(:last-child) {

      >label {
        width: calc(40%/1.2);  
      }
      >div {
        width: calc(80%/1.2);   
      }
    }
  }
  // Header (Products Page
  .header-pp {
    max-width: 100%;
  }
}



// Medium devices (tablets, 768px and up)
@media (min-width: @md) { // @md: 768px;

  header, .products-heading, .products-list, .cards-list, .search-container, .brands-heading, .lets-talk-section, .form-container,
          .header-pp, .products-filter-container-pp, .products-container-pp, .ad-labels-pdp, .products-selection-container,
          .product-description-section, .how-to-order {
    .container(@md);
  }
  .products-list>div, .cards-list>div {
    width: calc(100% / 3);
  }
  // Lets Talk Section
  .lets-talk-section{
    >.book-meeting {
      width: calc(70%/1.2);
    }
    >.live-chat {
      width: calc(50%/1.2);
    }
  }
  // Form (Register, Login, ChangePassword)
  .form-container > div > div {

    >.register-heading {
      padding-left: 8px;
    }
    // Login Form
    >.login-fields>:last-child {
      max-width: calc(100%/1.2);
      margin-left: calc(20%/1.2);
    }
    // Register Form
    >.register-fields>:last-child {
      max-width: calc(80%/1.2);
      margin-left: calc(40%/1.2);
      padding-left: 8px;
    }
  }
  // Outside Products Heading
  .products-heading-outer-pp {
    display: none;
  }
  // Products Filter Container on Products Page
  .products-filter-container-pp>div>h3 {

    display: block;
  }
  // Products Container on Products Page 
  .products-container-pp>div {
    
    >.product-card-pp {
      width: calc((40%/1.2) - (1.5rem * (3 - 1) / (3)));
    }
}
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div>.products-variation>.color-selection>div {
    width: calc(calc(20%/1.2) - (12px * (6 - 1) / 6));
  }

}



// Large devices (desktops, 992px and up)
@media (min-width: @lg) { // @lg: 992px;

  header, .products-heading, .products-list, .cards-list, .search-container, .brands-heading, .lets-talk-section, .form-container,
          .header-pp, .products-filter-container-pp, .products-container-pp, .ad-labels-pdp, .products-selection-container,
          .product-description-section, .how-to-order {
    .container(@lg);
  }
  .products-list>div {
    width: 25%;
  }
  .search-container>div {
    width: calc(100%/1.2);
    margin-left: auto;
    margin-right: auto;
  }
  // Brand Merch Section
  .brand-merch-section>div{

    >:first-child {
      width: 50%;
    }
    >:last-child {
      display: block;
      width: calc(20%/1.2);
    }
  }
  // Form (Register, Login, ChangePassword)// Form (Register, Login, ChangePassword)
  .form-container>div {
    width: calc(100%/1.2);
    margin-left: auto;
    margin-right: auto;
  }
  // Products Container on Products Page 
  .products-container-pp>div {
    
  >.product-card-pp {
    width: calc((30%/1.2) - (1.5rem * (4 - 1) / (4)));    
  }
}
  // Products Selection Container on (Products Detail Page)
  .products-selection-container>div {

    >div {
      width: calc(50% - (12px * (2 - 1) / (2)));
    }
  }
  // Product Description on (Products Detail Page)
  .product-description-section>.product-description {
    margin-top: 2rem;

    >.product-details, .product-logo {
      width: 50%;
      margin-left: 50%;
    }
    >.product-stock {
      width: calc(50%/1.2);
      margin-left: calc(40%/1.2);
    }
  }  
  
}



// X-Large devices (large desktops, 1200px and up)
@media (min-width: @xl) { // @xl: 1200px;

  header, .products-heading, .products-list, .cards-list, .search-container, .brands-heading, .lets-talk-section, .form-container,
          .header-pp, .products-filter-container-pp, .products-container-pp, .ad-labels-pdp, .products-selection-container,
          .product-description-section, .how-to-order {
    .container(@screen-width: @xl);
  }
  .products-list>div {
    width: 25%;
  }
  // Last Card
  .cards-list>:last-child .card h2 {
    font-size: 2rem;
  }
  // Search
  .search-container>div>h1, .brands-heading>h1 {
    font-size: 2.5rem;
  }
  h1{
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}



// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: @xxl) { // @xxl: 1400px;

  header, .products-heading, .products-list, .cards-list, .search-container, .brands-heading, .lets-talk-section, .form-container,
          .header-pp, .products-filter-container-pp, .products-container-pp, .ad-labels-pdp, .products-selection-container,
          .product-description-section, .how-to-order {
    .container(@xxl);
  }
  .products-list>div {
    width: 25%;
  }
}



// Screen Size 1440px and up
@media (min-width: 1440px){

  // Brand Merch Section
  .brand-merch-section>div>:first-child>p {
    font-size: 21px;
  }
  // Bottom Image
  .bottom-image {
    height: 285px;

    >img {
      margin-top: 120px;
    }    
  }
  // Form (Register, Login, ChangePassword)
  .form-container>div>div {

    // Login Form
    >.login-heading {
      margin-left: 7rem;
    }
    // Register Form
    >.register-heading {
      margin-left: 13rem;
      // margin-left: calc(40%/1.2);  // Can also be used instead of Fixed Values (Preffered) 
    }
  }
  // How to Order on (Products Detail Page)
  .how-to-order>div:last-child>img {
    margin-top: 120px;
  }
}





// Using 'media queries by Nesting them inside the Rulesets'
// header {
//   margin-top: 48px;
//   margin-left: auto;
//   margin-right: auto;
  
//   @media (min-width: 768px) {
//     max-width: 720px;
//   }
//   @media (min-width: 992px) {
//     max-width: 960px;
//   }
  
//   nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-wrap: wrap;
//     background-color: #f6f6f6;
//     border-radius: 50px;
//     padding-left: 20px;
//     padding-right: 20px;
//     border: 1px solid black;
    
//   }
// }